.control {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-height: 678px;
  padding-inline: 26px;
}

.control__body {
  display: flex;
}

.control__body-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 902px;
  max-height: 678px;
  background-color: var(--background-color);
  padding: 139px 172px 139px 206px;
}

.control__body-info-title {
  font-size: 50px;
  font-weight: 600;
  line-height: 72px;
  letter-spacing: 3px;
  color: var(--color-dark);
  margin-bottom: 17px;
}

.control__body-info-description {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  font-weight: 500;
  line-height: 25px;
  color: var(--color-dark-alt);
  margin-bottom: 34px;
}

.control__body-images-list {
  display: grid;
  grid-template-columns: 439px 498px;
  grid-template-rows: 329px 319px;
  gap: 30px;
}

.control__body-images-item {
  pointer-events: none;
}

@media (max-width: 1900px) {
  .control__body-info {
    padding: 109px 142px 109px 176px;
  }

  .control__body-info-title {
    font-size: 2vw;
    line-height: 42px;
  }

  .control__body-info-description {
    row-gap: 6px;
    margin-bottom: 20px;
  }
}

@media (max-width: 1550px) {
  .control {
    max-height: 100%;
  }
  .control__body {
    flex-direction: column-reverse;
  }

  .control__body-info {
    max-width: 968px;
    padding: 109px 172px 109px 206px;
  }

  .control__body-info-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 72px;
  }

  .control__body-info-description {
    row-gap: 12px;
    margin-bottom: 34px;
  }
}

@media (max-width: 986px) {
  .control {
    padding-inline: 80px;
  }
  .control__body-info {
    align-items: center;
  }
  .control__body-images-list {
    display: flex;
    flex-direction: column;
  }
  .control__body-images-item img {
    width: 100%;
    height: auto;
  }

  .control__body-info {
    max-width: 968px;
    padding-inline: 30px;
    text-align: center;
  }
  .control__body-info-title {
    font-size: 42px;
    line-height: 42px;
  }
}

@media (max-width: 600px) {
  .control__body-info-title {
    font-size: 32px;
    line-height: 42px;
  }

  .control__body-info-description {
    row-gap: 6px;
    margin-bottom: 20px;
  }
}
